html{
    box-sizing: border-box;
} 
*,
*:before,
*:after{
    box-sizing:inherit;
}

body{
    margin:0;
    font-family: sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

nav ul li{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li:hover{
    background-color: #fcfcfc;
    color: #000;
}

nav ul li a{
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 10px;
    background-color: #393939;
    text-transform: uppercase;
    font-weight: 600;   
}